*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

button {
    margin: 5px;
}

.form-group input {
    margin-bottom: 10px;
}

.form-group textarea {
    margin-bottom: 10px;
}